* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f4fc;
}

/*navbar style*/
.main-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1100px; /*MAL!!!!*/
    margin: 70px auto;
    color: #6B708D;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #6B708D;
}
/*repasar*/
.circle {
    width: 60px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-links {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav-links > a:hover {
    color: #072AC8;
}

.contact {
    text-align: center;
    padding: 1em 3em;
    border-radius: 0;
    border: none;
    background: #072AC8;
    color: #fff;
    cursor: pointer;
}

.contact:hover {
    background: #292E47;
}

.acordeon {
    display: none;
}

/*media query acrodeon*/
@media (max-width: 991px) {

    .nav-links, .contact {
        display: none;
    }
    
    .main-nav {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 30px;
    }
    
    .acordeon {
        display: block;
        margin-left: 90%; /*arreglar!*/ 
    }

    .acordeon a {
        text-decoration: none;
        display: block;
    }

    
    .drop-down {
        position: absolute;
        width: 100%; /*no hace nada*/
        display: none;
        background: rgb(190, 187, 187);
        left: 0;
        
    }

    .acordeon:hover .drop-down {
        display: block;
    }

    .drop-down li {
        display: block;
    
    }

    .acordeon:hover li {
        padding: 10px;
    }

} /*acaba la @media acordeon*/
 

/*sección "hero"*/


/*por defecto, móvil < 760px*/

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 100px 50px 0 50px; /*coge este para todo!!*/
}

/*no puedo centrar l hero img*/

.hero-pic {
    width: 80%;
    margin: 0 auto;
}

.img-card1, .img-card2 {
    display: none;
} 

.left-div > p {
    color:  #6B708D;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}
 
.hero-title {
    font-size: 60px;
    font-weight: bold;
    color: #292E47;
    text-align: center;
}

.see-btn {
    background: none;
    color:  #6B708D;
    font-weight: 600;
    padding: 1em 2em 1em 0;/*es distinto :(*/
}

.get-btn {
    background: #072AC8;
    color: #fff;
    /*padding: 15px 30px; segun original*/
    padding: 1em 1.2em;
}

.get-btn:hover {
    background: #292E47;
}

.btn {
    cursor: pointer;
    font-size: 17px;
    border: none;
}
 
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

/*query para Iphone 12*/

@media (max-width: 390px) {

    .hero-title {
        font-size: 30px;
    }

    .left-div > p {
        font-size: 17px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }
}


/*aparecen las cards fijas, query solo para las cards*/

@media (min-width: 750px) {
    .img-card1, .img-card2 {
        display: block;
    }

    .right-div {
        position: relative;
    }

    .img-card1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
    }

    .img-card2 {
        position: absolute;
        width: 150px;
        bottom: 0;
        right: 0;
    }
}

/*pantalla ancha Hero*/

@media (min-width: 975px) {
    #hero {
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center; /*no va, se centra solo con margin auto*/
        align-items: center;
        padding: 0;
    }
    
    .hero-title {
        text-align: left;
    }

    .left-div > p {
        text-align: left;
    }
    .right-div {
        position: relative;
    }

    .hero-pic {
        width: 40vw;
        /*tiene que encoger!!!*/
    }

    .img-card1 {
        position: absolute;
        top: 5%;
        left: -20%;
        max-width: 40%;
    }

    .img-card2 {
        position: absolute;
        max-width: 40%;
        bottom: -10%;
        right: -5%;
    }

    .get-btn {
        order: 1;
    }
     
}

/*query solo para que las cards se queden fijas*/

@media (min-width: 1150px) {
    .rigth-div {
        position: relative; /*hay que ponerlo cada vez??*/
    }
    .img-card1 {
        position: absolute;
        top: 0;
        left: -10px;
        max-width: 200px;
    }

    .img-card2 {
        position: absolute;
        max-width: 200px;
        bottom: -10px;
        right: -10px;
    }
}



/*sección lista de logos*/

/*los logos se ponen en linea a partir de 975px* falta poner un ancho mínimo*/


.logos-list {
    display: grid;
    grid-template-areas:
    "one two"
    "three four";
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    justify-items: center;
    
}

/*hay que poner un ancho fijo de 150px a cada logo*/
.logos-list > * {
    width: 150px;
    height: 96px;
}

.logos-list:nth-child(1) {
    grid-area: one;
}

.logos-list:nth-child(2) {
    grid-area: two;
}
.logos-list:nth-child(3) {
    grid-area: three;
}
.logos-list:nth-child(4) {
    grid-area: four;
}
.logos-list:nth-child(5) {
    grid-area: five;
}

.amazon {
    display: none;
}

/*en el original funciona así ¿?¿?

.logos-list {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}*/

.logos-section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}


@media (min-width: 975px) {
    .logos-section {
        max-width: 1100px;
    }

    .amazon {
        display: block;
    }

    .logos-list {
        grid-template-areas:  
            "one two three four five";
    }
}






/*Projects Section (recent projects)

para que crezcan hay que quitar el wrap, volver a grid con dos versiones*/

.projects-section {
    padding: 100px 30px 0 30px;
}

.recent-projects {
    margin: 50px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 40px;
}


.projects-section h2 {
    font-size: 40px;
}

.recent-project-item h4 {
    font-size: 24px;
}

.recent-project-item img {
    width: 100%; /*tienen distinto ancho*/
    object-fit: cover;
    height: 240px;
   
} 




/*hasta 745px: una columna
de 745 a 975: 2 y 1
mas 975: 1 fila*     asi era con grid:/


/*.recent-projects {
    display: grid;
    grid-template-areas: 
        "one"
        "two"
        "three";
    grid-gap: 40px;
}

.recent-projects:nth-child(1) {
    grid-area: one;
}

.recent-projects:nth-child(2) {
    grid-area: two;
}

.recent-projects:nth-child(3) {
    grid-area: three;
}

@media (min-width: 745px) {
/*imposible poner margen derecho*/
/*
    .recent-projects {
        grid-template-areas:
        "one two"
        "three three";
        grid-auto-flow: row; 
      
    }
}

@media (min-width: 975px) {
    .recent-projects {
        grid-template-areas:
        "one two three";
    }
}*/

/*seccion testimonial*/

.container-testimonial {
    background-image: url("images/testimonial-section/BG.png");
    background-size: contain;
    background-position: 0px 0px;
    background-color: #292e47;
    max-width: 1320px;
    max-height: 600px; /*???*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}



.emoji {
    width: 100px;
    height: 100px;
}
.emoji {
    display: none;
}

.client > img {
    width: 100px;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}




@media (min-width: 700px) {
    .container-testimonial {
        /*quitar flex?*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /*height: 100%;*/
        height: 622px;
        position: relative; 
    }

    
    .emoji {
        display: block;
        width: 150px;
        height: 150px;
        
    }
    .emoji1 {
        position: absolute;
        left: 0%;
        top: 0%;
        right: auto;
        bottom: auto;
        margin-top: 5%;
        margin-left: 10%;
        
    }

   

    .img {
        width: 100%;
    }

    .emoji2 {
        position: absolute;
        left: auto;
        right: 0%;
        top: 0%;
        bottom: auto;
        margin-top: 5%;
        margin-right: 10%;/*no lo coge!!*/
    }

    .emoji3 {
        position: absolute;
        left: 0%;
        bottom: 0%;
        top: auto;
        right: auto;
        margin-bottom: 5%;
        margin-left: 10%;
    }

    .emoji4 {
        position: absolute;
        right: 0%;
        bottom: 0%;
        top: auto;
        left: auto;
        margin-bottom: 5%;
        margin-right: 10%;/*no lo coge!!*/
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
}
.container-testimonial > * {
    text-align: center;
}

.container-testimonial h3 {
    color: #ecf7ff;
    line-height: 150%;
    font-size: 40px;
    font-weight: bold;
}

.container-testimonial > div > p {
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
}

.client-name {
    color: #a2d6f9;
    font-size: 17px;
}

.client-position {
    color: #ecf7ff;
    font-size: 13px;
}

/*Services section*/
/* ancho de movil 1 columna*/

.services-section {
    color: #292e47;
}

.services-section > h2 {
    margin-left: 30px;
    font-size: 24px;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 20px;
    padding: 0 30px;
    gap: 10px;

}

.services {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 340px;
    padding: 5px 10px;
}
/*meter en un div*/
.icon {
    width: 40px;
}

@media (min-width: 770px) {
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-top: 70px;
    
    }
}


/*Form newsletter*/

.cta-section {
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    margin-top: 60px;
    padding: 0 30px;
}

.cta-section > h1 {
    font-size: 30px;
}

.cta-section > p {
    font-size: 17px;
}

.cta-section > form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input {
    height: 80px;
    padding: 8px 0 8px 70px;
    color: #292e47;
}

.btn-subscribe {
    height: 80px; /*hay que poner altura??*/
    font-size: 17px;
    padding: 1em 2em;
    background-color: #072ac8;
    color: #fff;
    border: none;
}

.mail-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 8%;
    top: 27%;
}

.input-container {
    position: relative;
}

@media (min-width: 767px) {
    .cta-section > h1 {
        font-size: 40px;
    }

    .cta-section > form {
        display: flex;
        flex-direction: row;
        gap: 8px;
        /*width: 600px; en el original es absoluto*/
    }


}


/*footer*/

.circle-footer {
    width: 100px;
    margin: 0 auto; /*no se centra*/
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.address > p {
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}