* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f4fc;
}

.section {
    padding: 0 30px;
}

/*navbar style*/
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px; 
    margin: 70px auto;
    color: #6B708D;
    font-weight: bold;
}
 
a {
    text-decoration: none;
    color: #6B708D;
}

.circle {
    width: 60px;
    height: 18px;
}
.nav-links {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav-links > a:hover {
    color: #072AC8;
}

.contact {
    text-align: center;
    padding: 1em 3em;
    background: #072AC8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.contact:hover {
    background: #292E47;
}

.acordeon {
    display: none;
}

/*media query acrodeon*/
@media (max-width: 991px) {

    .nav-links, .contact-us-btn {
        display: none;
    }
    
    .main-nav {
        position: relative;
        margin-top: 20px;
        margin-bottom: 0;
        padding: 0 30px;
    }
    
    .acordeon {
        display: block; 
    }

    .acordeon button {
        cursor: pointer;
        border: none;
    }

    .acordeon button.active {
        background: #ccc;
        border: none;
    }

    .drop-down li {
        list-style: none;
        padding: 5px 0;
    }

    .drop-down {
        display: none;
        background: #cccccc;
        position: absolute;
        top: 13px;
        left: 0;
        right: 0;
    }


    .drop-down li a:hover {
        color: #292e47;
    }

    .acordeon button.active + ul {
        display: block;
    }

} /*acaba la @media acordeon*/
 
 
/*sección "hero"*/


/*por defecto, móvil < 760px*/

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.hero-pic {
    width: 100%;
    max-width: 560px;
}

.img-card1, .img-card2 {
    display: none;
} 

.left-div > p {
    color:  #6B708D;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}
 
.hero-title {
    font-size: 60px;
    font-weight: bold;
    color: #292E47;
    text-align: center;
}

.see-btn {
    background: none;
    color:  #6B708D;
    font-weight: 600;
    padding: 15px 30px 15px 0;
}

.get-btn {
    background: #072AC8;
    color: #fff;
    padding: 15px 30px; 
}

.get-btn:hover {
    background: #292E47;
}

.btn {
    cursor: pointer;
    font-size: 17px;
    border: none;
}
 
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}


/*query para Iphone 12*/



@media (max-width: 390px) {

    .hero-title {
        font-size: 30px;
    }

    .left-div > p {
        font-size: 17px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .see-btn {
        padding: 15px 30px;
    }
    
}


/*aparecen las cards fijas, query solo para las cards*/

@media (min-width: 750px) {

    .img-card1, .img-card2 {
        display: block;
    }

    .right-div {
        position: relative;
    }

    .img-card1 {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 250px;
    }

    .img-card2 {
        position: absolute;
        width: 250px;
        bottom: 0;
        right: 0;
    }
     .left-div {
        max-width: 700px;
    }
}

/*pantalla ancha Hero*/

@media (min-width: 975px) {
    #hero {
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    
    .hero-title {
        text-align: left;
    }

    .left-div > p {
        text-align: left;
        margin-right: 30px;
    }
    .right-div {
        position: relative;
    }

    .hero-pic {
        width: 40vw; 
    }

    .img-card1 {
        position: absolute;
        top: 5%;
        left: -20%;
        max-width: 40%;
    }

    .img-card2 {
        position: absolute;
        max-width: 40%;
        bottom: -10%;
        right: -5%;
    }

    .get-btn {
        order: 1;
    }

    .left-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
     
}

/*query solo para que las cards se queden fijas*/

@media (min-width: 1150px) {
    .rigth-div {
        position: relative; 
    }
    .img-card1 {
        position: absolute;
        top: 0;
        left: -90px;
        min-width: 280px;
    }

    .img-card2 {
        position: absolute;
        min-width: 280px;
        bottom: -110px;
        right: -100px;
    }
}



/*sección lista de logos*/


.logos-list {
    display: grid;
    grid-template-areas:
    "one two"
    "three four";
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    justify-items: center;
}
 

.logos-list > * {
    width: 120px;
    height: 96px;
}

.logos-list:nth-child(1) {
    grid-area: one;
}

.logos-list:nth-child(2) {
    grid-area: two;
}
.logos-list:nth-child(3) {
    grid-area: three;
}
.logos-list:nth-child(4) {
    grid-area: four;
}
.logos-list:nth-child(5) {
    grid-area: five;
}

.amazon {
    display: none;
}

.logos-section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}


@media (min-width: 975px) {
    .logos-section {
        max-width: 1100px;
    }

    .amazon {
        display: block;
    }

    .logos-list {
        grid-template-areas:  
            "one two three four five";
    }
}






/*Projects Section (recent projects)

*/

.projects-section {
    margin-top: 30px;
}

.recent-projects {
    margin: 50px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 40px;
}

.recent-project-item {
    background-color: #fff;
    min-width: 330px;
}
.projects-section h2 {
    font-size: 30px;
    text-align: center;
}

.project-item-content {
    margin: 30px 30px 20px 30px;
}
.recent-project-item h4 {
    font-size: 24px;
}

.recent-project-item a {
    color: #072ac8;
    display: block;
    margin: 30px 0;
    font-size: 17px;
    font-weight: 540;
}
.recent-project-item a:hover {
    cursor: pointer;
}
.recent-project-item img {
    width: 100%; 
    object-fit: cover;
    height: 240px;
} 

@media (min-width:760px) {
    .recent-project-item img {
        max-width: 100%;
        object-fit: cover;
        height: 240px;
    } 

    .recent-project-item {
        max-width: 340px;
    }
    
    .projects-section h2 {
        font-size: 40px;
        max-width: 1100px;
        margin: 20px auto 10px;
        text-align: left;
    }
}





/*seccion testimonial*/

.container-testimonial {
    background-image: url("https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800d0da83d2876b6ccdba_Orbit.png");
    background-size: contain;
    background-position: 0px 0px;
    background-color: #292e47;
    max-width: 1320px;
    height: 450px; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0 30px;
    display: flex;
    justify-content: center;
}



.emoji {
    width: 100px;
    height: 100px;
}
.emoji {
    display: none;
}

.client > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.testimonial-title {
    font-size: 30px;
}



@media (min-width: 700px) {
    .testimonial-section {
        margin: 200px auto 0 auto;
    }
    .container-testimonial {
        height: 100%;
        height: 622px;
        position: relative; 
    }
    .testimonial-text {
        max-width: 560px;
    }

    .testimonial-title {
        font-size: 40px;
    }
    
    .emoji {
        display: block;
        width: 150px;
        height: 150px;
        
    }
    .emoji1 {
        position: absolute;
        left: 0%;
        top: 0%;
        right: auto;
        bottom: auto;
        margin-top: 5%;
        margin-left: 10%;
    }

   
    .img {
        width: 100%;
    }

    .emoji2 {
        position: absolute;
        left: auto;
        right: 0%;
        top: 0%;
        bottom: auto;
        margin-top: 5%;
        margin-right: 10%;
    }

    .emoji3 {
        position: absolute;
        left: 0%;
        bottom: 0%;
        top: auto;
        right: auto;
        margin-bottom: 5%;
        margin-left: 10%;
    }

    .emoji4 {
        position: absolute;
        right: 0%;
        bottom: 0%;
        top: auto;
        left: auto;
        margin-bottom: 5%;
        margin-right: 10%;
    }
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.testimonial-title, .testimonial-text {
    text-align: center;
}

.client-info p {
    text-align: left;
}

.container-testimonial h3 {
    color: #ecf7ff;
    line-height: 150%;
    font-weight: bold;
}

.container-testimonial > div > p {
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
}
 
.client-name {
    color: #a2d6f9;
    font-size: 17px;
    margin-bottom: 0;
}

.client-position {
    color: #ecf7ff;
    font-size: 13px;
    margin-top: 0;
}



/*Services section*/
/* ancho de movil 1 columna*/

.services-section {
    color: #292e47;
    margin-top: 40px;
}

.services-section > h2 {
    margin: 20px 0 10px 0;
    font-size: 30px;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 20px;
    gap: 10px;
}

.services {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 340px;
}

.icon {
    width: 80px;
    background-color: #ecf7ff;
    border-radius: 50%;
    margin: 40px 0 0  40px;
    object-fit: scale-down;
}

.services h4 {
    margin: 30px 30px 20px;
    font-size: 24px;
}

.services p {
    text-align: left;
    margin: 0 30px 10px;
    font-size: 17px;
}

.services >  a {
    font-size: 17px;
    margin: 30px;
    color: #072ac8;
    font-weight: 600px; /*no lo coge!!!*/
}


@media (min-width: 770px) {
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-top: 70px;
        padding: 0;
    }

    .services-section {
        max-width: 1100px;
        margin: 120px auto 0;
    }

    .services-section > h2 {
        max-width: 1100px;
        margin: 20px 0 10px 0;
        font-size: 40px;
        text-align: left;
    }
   
}


/*Form newsletter*/

.cta-section {
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    margin-top: 60px;
    padding: 30px;
    
}

.cta-section > h1 {
    font-size: 30px;
}

.cta-section > p {
    font-size: 17px;
    color: #6b708d;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 243px;
}
.input {
    height: 80px;
    padding: 8px 0 8px 70px;
    font-size: 17px;
    width: 100%;
    background-color: #ecf7ff;
    border: 1px solid #cccccc;
}

.input::placeholder {
    color: #292e47;
}

.btn-subscribe {
    height: 80px;
    font-size: 17px;
    padding: 1em 2em;
    background-color: #072ac8;
    color: #fff;
    border: none;
}

.btn-subscribe:hover {
    background-color: #292e47;
    cursor: pointer;
}
.mail-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 8%;
    top: 27%;
}

.input-container {
    position: relative;
}

@media (min-width: 767px) {
    .cta-section > h1 {
        font-size: 40px;
    }
    .input {
        width: 100%;
    }
    .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        min-width: 600px; 
    }
    .input-container {
        width: 66%; 
    }
    
   
}


@media (min-width: 990px) {
    .cta-section {
        max-width: 1320px;
        padding-top: 90px;
        margin: 200px auto 0 auto;
    }
    .input-container {
        width: 66%; 
    }

    .btn-subscribe {
        width: 30%;
    }
   
}



/*footer*/

.circle-footer > img {
    width: 100px;
    height: 30px;
    margin-bottom: 30px; 
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 60px;
    padding: 0 30px 100px 30px;
    padding-bottom: 100px;
}

.address > p {
    text-align: center;
    margin: 0;
    color: #6B708D;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 20px;
}

.links a {
    color: #072ac8;
}

@media (min-width: 770px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 200px;
        max-width: 1100px;
        margin: 200px auto 0 auto;
    }
    .address {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

    .address > p {
        text-align: left;
    }
}

/*email validation, .cta-section*/

.valid {
    color: rgb(4, 80, 4);
    margin-bottom: 5px;
}

.invalid {
    color: rgb(196, 3, 3);
    margin-bottom: 5px;
}


//
//
//
//



/*project.html styles*/

.project-img {
    max-width: 1100px;
    max-height: 444px;
}

.project img {
    width: 100%;
}

.project {
    padding: 0 30px;
    margin-top: 40px;
}

.project > h2, p {
    font-size: 20px;
}

.project > h2 {
    color: #6b708d;
    
}

.other-projects {
    margin-top: 50px;
}

@media (min-width: 760px) {
    .project-img {
        max-width: 1100px; 
        max-height: 444px;
        width: 100%;  
        height: 100%;
        box-shadow: 0 10px 10px 0 rgba(22, 20, 20, 0.5);
    }

    .project > h2 {  
        font-size: 60px;
    }

    .project > * {
        max-width: 1100px;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




/*form.html styles*/

.contact-form {
    color: #6b708d;
}
#form h1 {
    font-size: 24px;
    margin: 24px 0;
    color: #292e47;
}

.form-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.input-box {
    width: 100%;
    margin-top: 10px;   
}


.input-box input {
    height: 70px;
    padding: 8px;
    width: 100%;
    background-color: rgba(107, 112, 141, 0.1);
    border: 1px none #000;
    margin-bottom: 10px;
}

.label {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    
}

.message-box input {
    height: 200px;
}
/*no funciona!!*/
/*#message::placeholder {
    padding-bottom: 300px;
    
}*/


input::placeholder {
    font-size: 17px;
}


.button-submit {
    height: 80px;
    margin-top: 10px;
}


.submit-form-btn {
    cursor: pointer;
}

.button-submit input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #072ac8;
    font-size: 17px;
    color: #fff;
}

.input-box input:focus {
    outline: none;
}



@media (min-width:760px) {
    .input-box {
        width: calc(100% / 2 - 10px);
    }

    .name-box, .message-box {
        width: 100%;
    }

    #form {
        max-width: 1160px;
        margin: 200px auto 0;
        padding: 0 30px;
    }
    #form h1 {
        font-size: 60px;
        margin-bottom: 80px;
    }
}