* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*navbar style*/
.main-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1100px; /*MAL!!!!*/
    margin: 70px auto;
    color: #6B708D;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #6B708D;
}

.circle {
    background-image: url(/images/logos/circle.svg);
    width: 60px;
    height: 18px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-links {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.nav-links > a:hover {
    color: #072AC8;
}

.contact {
    text-align: center;
    padding: 1em 3em;
    border-radius: 0;
    border: none;
    background: #072AC8;
    color: #fff;
    cursor: pointer;
}

.contact:hover {
    background: #292E47;
}

.acordeon {
    display: none;
}


/*sección "hero"*/
#hero {
    display: flex;
    gap: 30px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.left-div {
    max-width: 530px;
    
}

.left-div > p {
    color:  #6B708D;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    width: 435px;
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
    color: #292E47;
}

@media (max-width: 991px) {
    .nav-links, .contact {
        display: none;
    }
    .main-nav {
        position: relative;
    }
    
    .acordeon {
        display: block;
        margin-left: 90%; /*arreglar!*/
       
    }

    .acordeon a {
        text-decoration: none;
        display: block;
    }

    /*.icon::before {
        content: url();/*solo valen urls?*/
    
    .drop-down {
        position: absolute;
        width: 100%; /*no hace nada*/
        display: none;
        background: rgb(190, 187, 187);
        left: 0;
        
    }

    .acordeon:hover .drop-down {
        display: block;
    }

    .drop-down li {
        display: block;
    
    }

    .acordeon:hover li {
        padding: 10px;
    }

    #hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 700px;
    }

    .hero-title {
        text-align: center;
    }

    .left-div {
        width: 700px;
    }

    .left-div > p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 600px;
    }

    .right-div {
        max-width: 560px;
    }

    .hero-pic {
        width: 100%;
    }

    .hero-buttons {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .get-btn {
        order: -1;
    }

    .main-nav {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 30px 0 30px;
    }

} /*acaba la @media <991px*/

@media (max-width: 767px) {
    
    #hero {
        min-width: 423px;
    }

    .left-div {
        max-width: 560px;
    }
    .right-div {
        max-width: 560px;
    }

    .hero-pic {
        width: 100%;
    }
    
    .img-card1, .img-card2 {
        display: none;
    }
}

.right-div {
    position: relative;
    min-width: 570px;
} 

@media (min-width:915px) and (max-width:1100px) {

    .right-div {
        position: relative;
    }

    .hero-pic {
        width: 50%vw;
        /*tiene que encoger!!!*/
    }

    .img-card1 {
        position: absolute;
        top: 5%;
        left: -20%;
        width: 40%;
    }

    .img-card2 {
        position: absolute;
        width: 40%;
        top: 70%;
        left: 55%;
    }
}



.hero-pic {
    /*max-width: 570px;*/
    width: 100%;
    
}

.see-btn {
    background: none;
    color:  #6B708D;
    font-weight: 600;
    padding: 1em 2em 1em 0;
}

.get-btn {
    background: #072AC8;
    color: #fff;
    padding: 1em 2em;
}

.get-btn:hover {
    background: #292E47;
}

.btn {
    cursor: pointer;
    font-size: 17px;
    border: none;
}

.img-card1 {
    position: absolute;
    max-width: 250px; 
    top: 10px;
    left: -50px;
}

.img-card2 {
    position: absolute;
    max-width: 250px;
    bottom: -120px;
    right: -50px;
}

/*sección lista de logos*/

/*los logos se ponen en linea a partir de 975px* falta poner un ancho mínimo*/


.logos-list {
    display: grid;
    grid-template-areas:
    "one two"
    "three four";
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    justify-items: center;
    
}

/*hay que poner un ancho fijo de 150px a cada logo*/
.logos-list > * {
    width: 150px;
    height: 96px;
}

.logos-list:nth-child(1) {
    grid-area: one;
}

.logos-list:nth-child(2) {
    grid-area: two;
}
.logos-list:nth-child(3) {
    grid-area: three;
}
.logos-list:nth-child(4) {
    grid-area: four;
}
.logos-list:nth-child(5) {
    grid-area: five;
}

.amazon {
    display: none;
}

/*en el original funciona así

.logos-list {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}*/

.logos-section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}


@media (min-width: 975px) {
    .logos-section {
        max-width: 1100px;
        
    }

    .amazon {
        display: block;
    }

    .logos-list {
        grid-template-areas:  
            "one two three four five";
    }
}






/*Prjocets Section (recent projects)*/

.projects-section {
    margin: 50px auto;
    width: 1100px;
}

.projects-section h2 {
    font-size: 40px;
}

.recent-project-item h4 {
    font-size: 24px;
}
/*hasta 745px: una columna
de 745 a 975: 2 y 1
mas 975: 1 fila*/
.recent-project-item img {
    width: 340px; /*como va el ancho???*/
    height: 240px;
}

.recent-projects {
    display: grid;
    grid-template-areas: 
        "one"
        "two"
        "three";
    grid-gap: 40px;
}

.recent-projects:nth-child(1) {
    grid-area: one;
}

.recent-projects:nth-child(2) {
    grid-area: two;
}

.recent-projects:nth-child(3) {
    grid-area: three;
}

@media (min-width: 745px) {
/*imposible poner margen derecho*/

    .recent-projects {
        grid-template-areas:
        "one two"
        "three three";
        grid-auto-flow: row; 
      
    }
}

@media (min-width: 975px) {
    .recent-projects {
        grid-template-areas:
        "one two three";
    }
}

/*seccion testimonial*/

.container-testimonial {
    background-image: url("images/testimonial-section/BG.png");
    background-size: contain;
    background-position: 0px 0px;
    background-color: #292e47;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}



.emoji {
    width: 100px;
    height: 100px;
}
.emoji {
    display: none;
}

.client > img {
    width: 100px;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (min-width: 700px) {
    .container-testimonial {
        /*quitar flex?*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /*height: 100%;*/
        height: 622px;
        position: relative; 
        

    }

    
    .emoji {
        display: block;
        width: 150px;
        height: 150px;
        
    }
    .emoji1 {
        /*background-image: url("images/testimonial-section/memoji-1.png");
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        
        imposible con BG img*/
        position: absolute;
        left: 0%;
        top: 0%;
        right: auto;
        bottom: auto;
        margin-top: 5%;
        margin-left: 10%;
        
    }

   

    .img {
        width: 100%;
    }

    .emoji2 {
        position: absolute;
        left: auto;
        right: 0%;
        top: 0%;
        bottom: auto;
        margin-top: 5%;
        margin-right: 10%;/*no lo coge!!*/
    }

    .emoji3 {
        position: absolute;
        left: 0%;
        bottom: 0%;
        top: auto;
        right: auto;
        margin-bottom: 5%;
        margin-left: 10%;
    }

    .emoji4 {
        position: absolute;
        right: 0%;
        bottom: 0%;
        top: auto;
        left: auto;
        margin-bottom: 5%;
        margin-right: 10%;/*no lo coge!!*/
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
}
.container-testimonial > * {
    text-align: center;
}

.container-testimonial h3 {
    color: #ecf7ff;
    line-height: 150%;
    font-size: 40px;
    font-weight: bold;
}

.container-testimonial > div > p {
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
}

.client-name {
    color: #a2d6f9;
    font-size: 17px;
}

.client-position {
    color: #ecf7ff;
    font-size: 13px;
}
